@charset "UTF-8";

.nav_all{
    width:100%;
    height: 1.83rem;
    .nav_pic{
        width:100%;
        height:1.05rem;
        .nav_bag{
            width:100%;
            height:100%;
            background: url("http://localhost:4000/media/images/index_nav_bag.jpg") no-repeat;
            background-size:cover; 
        }
    }
    .nav_list{
        width:100%;
        height:.78rem;
        background: #fff;
        ul{
            width:100%;
            height:100%;
            @include flexbox();
            @include flex-wrap();
            li{
                @include flex();
                @include flexbox();
                @include flex-direction(column);
                @include justify-content(center);
                @include align-items(center);               
                img{
                    width:.36rem;
                }
                span {
                    font-size: .12rem;
                    width: .6rem;
                    height: .12rem;
                    margin-top: .03rem;
                    text-align: center;
                }
            }
         }
    }
}