.m-cart {
  @include flexbox();
  @include flex-direction(column);
  height: 100%;
  width: 100%;
  background: #ffffff;
<<<<<<< HEAD

=======
>>>>>>> 390559ac863b364701662ba5091b9230e8670aed
  header {
    border-bottom: 1px solid #b2b2b2;
    @include flexbox();
    @include flex-direction();
    @include justify-content(center);
    @include align-items(center);
    position: relative;
    height: .64rem;
    width: 100%;
    h4 {
      font-size: 17px;
      font-weight: normal;
    }
    span {
      width: .6rem;
      position: absolute;
      right: .19rem;
      font-size: 13px;
    }
  }
  section {
    @include flexbox();
    @include flex-direction(column);
    @include flex();
    width: 100%;
    background: #f3f3f3;
    .cart-list {
      overflow-y: scroll;
      @include flex();
      width: 100%;
      .cart-item {
        @include flexbox();
        @include flex-direction(column);
        margin-bottom: .1rem;
        height: 1.31rem;
        background: #ffffff;
        @include align-items(center);
        .cart-shop {
          @include flexbox();
          width: 100%;
          height: .4rem;
          i {
            width: .41rem;
            height: 100%;
            line-height: .4rem;
            text-align: center;
            color: #cacacf;
          }
<<<<<<< HEAD
          .cart-circle{
            font-size:22px;
          }
          .active{
            color:#f30000;
          }
=======
>>>>>>> 390559ac863b364701662ba5091b9230e8670aed
          h4 {
            @include flex();
            height: 100%;
            font-size: 15px;
            line-height: .4rem;
          }
          .cart-edit {
            width: .6rem;
            height: 100%;
            line-height: .4rem;
            text-align: center;
            color: #f30000;
          }
        }
<<<<<<< HEAD
        .cart-cellswipe {
          width: 100%;
          background: none;
          .mint-cell-wrapper {
            padding: 0;
            .mint-cell-value {
              width: 100%;
              .cart-detail {
                @include flex();
                @include flexbox();
                width: 100%!important;
                height: .89rem;
                mt-cell-swipe {
                  width: 100%;
                  height: 100%;
                }
                .cart-selected {
                  width: .41rem;
                  height: 100%;
                  line-height: .89rem;
                  text-align: center;
                  color: #cacacf;
                  font-size:22px;
                }
                .active{
                  color:#f30000;
                }
                dl {
                  @include flex();
                  @include flexbox();
                  margin-top: .1rem;
                  dt {
                    img {
                      width: .64rem;
                      height: .64rem;
                    }
                  }
                  dd {
                    padding-left: .1rem;
                    @include flex();
                    font-size: .11rem;
                    .cart-name {
                      height: .27rem;
                      width: 100%;
                      line-height: .15rem;
                      @include ellipsis(null, 2);
                    }
                    .cart-info {
                      margin-top: .11rem;
                      color: #a8a8a8;
                    }
                    .cart-price {
                      margin-top: .11rem;
                      color: #f30000;
                    }
                  }
                }
                .cart-touch-delete {
                  width: .6rem;
                  height: 100%;
                  line-height: .89rem;
                  text-align: center;
                  color: #cacacf;
                }
              }
            }
          }
          .mint-cell-swipe-button {
            line-height: .89rem;
=======
        .cart-detail {
          @include flex();
          @include flexbox();
          width: 100%;
          height: .89rem;
          .cart-selected {
            width: .41rem;
            height: 100%;
            line-height: .89rem;
            text-align: center;
            color: #cacacf;
          }
          dl {
            @include flex();
            @include flexbox();
            dt {
              img {
                width: .64rem;
                height: .64rem;
              }
            }
            dd {
              padding-left: .1rem;
              @include flex();
              font-size: .11rem;
              .cart-name {
                height: .27rem;
                width: 100%;
                line-height: .15rem;
                @include ellipsis(null, 2);
              }
              .cart-info {
                margin-top: .11rem;
                color: #a8a8a8;
              }
              .cart-price {
                color: #f30000;
              }
            }
          }
          .cart-touch-delete {
            width: .6rem;
            height: 100%;
            line-height: .89rem;
            text-align: center;
            color: #cacacf;
>>>>>>> 390559ac863b364701662ba5091b9230e8670aed
          }
        }
      }
    }
    .footer {
      height: .42rem;
      width: 100%;
      border-top: 1px solid #d0d0d0;
      background: #ffffff;
      ul {
        @include flexbox();
        height: 100%;
        .cart-selectall {
          @include flexbox();
          height: 100%;
          width: .81rem;
          text-align: center;
<<<<<<< HEAD
=======
         
>>>>>>> 390559ac863b364701662ba5091b9230e8670aed
          color: #686868;
          @include justify-content(center);
          @include align-items(center);
          .checkall {
            width: .54rem;
            height: .28rem;
            border: 1px solid #686868;
            border-radius: 5px;
            line-height: .24rem;
            font-size: .11rem;
          }
        }
        .cart-total {
          @include flex();
<<<<<<< HEAD
          p {
            color: #989898;
            span {
              color: #f30000;
            }
          }
=======
          p{
              color: #989898;
            span {
                color: #f30000;
              }
          }
          
>>>>>>> 390559ac863b364701662ba5091b9230e8670aed
        }
        .cart-pay {
          width: .8rem;
          height: 100%;
          background: #f30000;
          color: #ffffff;
          text-align: center;
          line-height: .42rem;
        }
        .cart-delete {}
      }
    }
  }
}
